<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Real time chat</title>
    <script type="text/javascript" src="/chat.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>

<div id="player-info"></div>

<div class="controls">
	<input type="text" id="field" />
	<input type="button" id="send" value="Create" />
</div>

<div id="content"></div>

</body>
</html>
